/**
Copyright 2015 The Cockroach Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License. See the AUTHORS file
for names of contributors.

Author: Matt Tracy (matt@cockroachlabs.com)
*/
*
  margin: 0
  padding: 0
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html,
body
  height: 100%

body
  background-color: #f1f2f3
  color: #333
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif
  font-weight: 400
  font-size: 14px

.fullHeightContainer
  height: calc(100% - 50px)
  /* Keep in line with height of .appNav */

.appNav
  height: 50px
  background-color: #fff
  border-bottom: 1px solid #ddd
  padding: 10px 20px

.appNav-link:link,
.appNav-link:visited
  text-decoration: none
  text-transform: uppercase
  color: #333
  display: inline-block
  margin-right: 20px

.appNav-link.appNav-homeName
  font-weight: 800
  font-size: 22px
  text-transform: none
  vertical-align: -2px

